plugins {
    kotlin("jvm") version "{{kotlinPluginVersion}}"
    `maven-publish`
}

repositories {
    mavenLocal()
    mavenCentral()
}

kotlin {
    jvmToolchain({{javaToolchainVersion}})
}

dependencies {
    implementation("dev.hogwai.platform:heron-platform-spi:{{platformSpiVersion}}")
    testImplementation(platform("org.junit:junit-bom:{{junitJupiterVersion}}"))
    testImplementation("org.junit.jupiter:junit-jupiter")
    testRuntimeOnly("org.junit.platform:junit-platform-launcher")
    testImplementation("org.assertj:assertj-core:{{assertjVersion}}")
}

tasks.test {
    useJUnitPlatform()
}

publishing {
    publications {
        create<MavenPublication>("maven") {
            from(components["java"])
        }
    }
}
